<template name="editResource">
  <div>
    <a href="{{pathFor 'home'}}">Home</a>
  </div>

  <hr>

  {{#with getResource}}
    <p>Editing Resource: {{_id}}</p>
    <p>Branch Head: {{getBranch.name}} - {{getBranch.version}}</p>

    <hr>

    <form>
      <input type="hidden" name="resourceId" value="{{_id}}">

      {{#with getVersion}}
        <p>Created At: {{created}}</p>
        <input type="hidden" name="resourceVersion" value="{{_id}}">
        <p>Content: {{content}}</p>
        <input type="text" name="resourceContent" placeholder="Resource Content" value="{{content}}">
      {{/with}}

      <input type="submit" onclick="this.form.submitted=this.value;" value="Save Edit">

      <hr>

      <input type="text" name="branchName" placeholder="Branch Name">
      <input type="submit" onclick="this.form.submitted=this.value;" value="Use">

      <hr>

      <input type="text" name="consumeName" placeholder="Consume Name">
      <input type="submit" onclick="this.form.submitted=this.value;" value="Consume">
      
    </form>
  {{/with}}
</template>
