<template name="resource">
  <div class="resource">
    <p>
      id: {{_id}}
    </p>
    <p>
      Name: {{name}}
    </p>
    <p>
      Content: {{text}}
    </p>
    <button>Edit</button>
    <button>Use</button>
  </div>
</template>

<template name="createResource">
  <form>
    <input type="text" name="resourceName" placeholder="Resource Name">
    <input type="text" name="resourceText" placeholder="Resource Text"/>
    <input type="submit" value="Submit">
  </form>
</template>

<template name="resourceList">
  <h3>Resources</h3>
  <hr/>
  {{#each resources}}
    {{> resource}}
  {{/each}}
</template>
