<template name="resource">
  <div>
    <a href="{{pathFor 'home'}}">Home</a>
  </div>
  <div class="resource">
    <p>id: {{getResource._id}}</p>
    <p>Name: {{getResource.name}}</p>
    <p>LastCommit: {{getResource.lastCommit}}</p>
    <p>
      Content: {{getLastVersionContent(getResource.lastCommit)}}
    </p>
    <a class="button" href="{{pathFor 'resourceEdit' rId=getResource._id}}">Edit</a>
    <a class="button" href="{{pathFor 'resourceUse' rId=getResource._id}}">Use</a>
  </div>
  {{> versionList}}
</template>
