/* CSS declarations go here */

body {
  padding: 20px;
}

.resource {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 250px;
}

.notfound {
  text-align: center;
  height: 100%;
}

.notfound img {
  height: 450px;
  width: auto;
}
