<template name="versionDetail">

  {{#if isReady "version"}}
    <div class="version">
      <p>id: {{getVersion._id}}</p>
      <p>Content: {{getVersion.content}}</p>
      <p>Parent:
        {{#if getVersion.parent}}
          {{getVersion.parent}}
        {{else}}
          No Parent
        {{/if}}
      </p>
    </div>
  {{else}}
    Loading...
  {{/if}}
  <div>
    <h4>Parent(s):</h4>
    {{#if isReady "parentVersions"}}
      {{#each getParents}}
        {{> version}}
      {{/each}}
    {{else}}
      Loading...
    {{/if}}
  </div>
</template>
